
body{
    font-family: 'Courier New', Courier, monospace;
}
img{
    height: 100px;width: 100px;
}
b{
    text-align: right;
}
div{
    background-image: url(img/sfondo.jpg);width: 100%;height: 100%;
}
h2{
    text-align: center;color: white;
}